body {
  padding: 30px 10px 10px 30px;
  background-color: #5697E8;
}

h1 {
line-height: 0.5;
}

h4 {
  padding-left: 15px;
}

a:hover {
  color: #5697E8;
}

.main-frame {
  width: 600px;
  margin: 0 auto;
  margin-top: 1.5em;
  background-color: ghostwhite;
}

.bod {
  margin-top: 20px;
  line-height: .75;
}

.social {
  line-height: 0.1;
  padding-top: 10px;
  padding-bottom: 0px;
}

.social i {
  font-size: 1.25em;
}

.social a {
  color: gray;
}

.social a:hover {
  font-weight: 600;
  color: #5697E8;
}

.span-social {
  margin: auto 5px auto 5px;
}

.spacer-social {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        width: 360px;
        height: 500px;
    }

    .container {
      width: 100%;
      margin: 0 auto;
    }

    h1 {
      margin: 0 auto;
      margin-left: 0px;
    }

    .bod {
      line-height: 1;
    }


    p-upper {
      margin-bottom: 5px;
    }

    p-lower {
      margin-top: 5px;
    }
}

#emailto:hover {
  font-weight: bold;
}


#flame img {
  height: 50px;
  margin: 0px;
}
#flame span {
  margin-left: -27px;
  margin-right: -27px;
}

#flame-container {
  height: 55px;
  margin: 0px 0px 0px 200px;
  padding: 0px 0px 0px 0px;
}

#myName {
  width: 245px;
  padding-top: 0px;
  margin-top: -35px;
}

#myName:hover {
  color: sienna;
}
