/*--Common Style--*/
.separator {
    display: block;
}
.hightlight {
    padding: 0 3px;
}
.elements-notes {
    font-size: 14px;
    padding: 0 10px;
    background-color: $gray-1;
    display: inline-block;
    clear: both;
    & .class {
        color: $color-11;
    }
}

/*--Tab Content & Pane Fix--*/
.tab-content {
    width: 100%;
    & .tab-pane {
        display: block;
        height: 0;
        max-width: 100%;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        &.active {
            height: auto;
            visibility: visible;
            opacity: 1;
            overflow: visible;
        }
    }
}

/*--Page Wrapper--*/
#page-wrapper {}
.page-wrapper {
    &.page-wide {
        @media only screen and (min-width: 1500px) {
            padding: 0 65px;
        }
    }
}
.home-furniture {
    .page-wrapper {
        &.page-wide {
            @media only screen and (min-width: 1500px) {
                padding: 0 35px;
            }
        }
    }
}
.header-aside + #page-wrapper {
    padding-left: 380px;
    @media #{$laptop-device} {
        padding-left: 320px;
    }
    @media #{$desktop-device} {
        padding-left: 0;
    }
    @media #{$tablet-device} {
        padding-left: 0;
    }
    @media #{$large-mobile} {
        padding-left: 0;
    }
}

/*--Preloader--*/
.preloader-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
    & .spinner {
        display: flex;
        & div {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            &.bounce1 {
                animation-delay: -0.32s;
            }
            &.bounce2 {
                animation-delay: -0.16s;
            }
        }
    }
    @keyframes sk-bouncedelay {
        0%, 80%, 100% {
            transform: scale(0);
        }
        40% {
            transform: scale(1.0);
        }
    }
}

/*--Slick Slider--*/
.slick-slider {
    & .slick-list {
        width: 100% !important;
    }
    // Single Slide
    & .slick-slide {
        display: inline-flex !important;
        & > div {
            display: inline-flex;
            flex: 1 0 100%;
        }
    }
    
    //Arrows
    & .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0 0 15px 0 rgba($heading-color, 0.1);
        z-index: 9;
        &:focus {
            box-shadow: 0 0 15px 0 rgba($heading-color, 0.1);
        }
        & i {
            line-height: 50px;
        }
        &.slick-prev {
            left: 0;
        }
        &.slick-next {
            right: 0;
        }
    }
    &.nav-style-2 {
        & .slick-arrow {
            width: auto;
            height: auto;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            line-height: 1;
            &:focus {
                box-shadow: none;
            }
            & i {
                line-height: 1;
                font-size: 38px;
            }
            &.slick-prev {
                left: 15px;
            }
            &.slick-next {
                right: 15px;
            }
        }
    }
    &.nav-style-3 {
        & .slick-arrow {
            width: auto;
            height: auto;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            line-height: 1;
            &:focus {
                box-shadow: none;
            }
            & i {
                line-height: 1;
                font-size: 38px;
                @media #{$large-mobile} {
                    font-size: 30px;
                }
                @media #{$extra-small-mobile} {
                    font-size: 24px;
                }
            }
            &.slick-prev {
                left: -80px;
                @media #{$desktop-device} {
                    left: 15px;
                }
                @media #{$tablet-device} {
                    left: 15px;
                }
                @media #{$large-mobile} {
                    left: 5px;
                }
            }
            &.slick-next {
                right: -80px;
                @media #{$desktop-device} {
                    right: 15px;
                }
                @media #{$tablet-device} {
                    right: 15px;
                }
                @media #{$large-mobile} {
                    right: 5px;
                }
            }
        }
    }
    &.nav-style-4 {
        & .slick-arrow {
            width: 45px;
            height: 45px;
            background-color: $white;
            box-shadow: none;
            padding: 0;
            line-height: 1;
            border-radius: 0;
            padding-top: 1px;
            &:focus {
                box-shadow: none;
            }
            & i {
                line-height: 45px;
                font-size: 18px;
            }
            &.slick-prev {
                left: 0;
            }
            &.slick-next {
                right: 0;
            }
        }
    }
    
    // Dots
    & .slick-dots {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1 0 100%;
        line-height: 1;
        margin-top: 30px;
        & li {
            font-size: 0;
            line-height: 1;
            margin: 0 7px;
            & button {
                border: none;
                text-indent: -9999px;
                width: 12px;
                height: 12px;
                padding: 0;
                border-radius: 50%;
                background-color: #808080;
            }
            &.slick-active {
                & button {
                    background-color: $color-1;
                }
            }
        }
    }
}
/*Teplate Color Loop - Color Depend on Body class*/
@for $i from 1 through length($colorList) {
    body.template-color-#{$i} {
        & .slick-slider {
            // Dots
            & .slick-dots {
                & li {
                    &.slick-active {
                        & button {
                            background-color: nth($colorList, $i)
                        }
                    }
                }
            }
        }
    }
}

/*--Lightcase Lightbox Popup--*/
#lightcase-case, #lightcase-case p {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit !important;
}
.lightcase-contentInner {
    & img {
        max-width: none !important;
        max-height: none !important;
        width: 100%;
    }
}

/*--Page Pagination--*/
.page-pagination {
    & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -4px;
        & li {
            margin: 4px;
            & a {
                display: block;
                width: 42px;
                height: 42px;
                border: 1px solid $gray-2;
                font-size: 14px;
                padding: 10px;
                line-height: 20px;
                text-align: center;
                color: $heading-color;
                text-transform: capitalize;
                &:hover {
                    border-color: $heading-color;
                    color: $heading-color;
                }
            }
            &.active {
                & a {
                    background-color: $heading-color;
                    color: $white;
                    border-color: $heading-color;
                    cursor: default;
                    pointer-events: none;
                }
            }
            &.dots {
                & a {
                    color: $body-color;
                    border-color: transparent;
                    cursor: default;
                    pointer-events: none;
                    padding-left: 0;
                    padding-right: 0;
                    width: auto;
                }
            }
            &.next, &.prev {
                & a {
                    width: auto;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
}

/*--Fullwidth Instafeed*/
.fullwidth-instafeed {
    & ul {
        display: flex;
        flex-wrap: wrap;
        & li {
            max-width: 20%;
            flex: 1 0 20%;
            @media #{$large-mobile} {
                max-width: 33.3333%;
                flex: 1 0 33.3333%;
            }
            & a {
                display: block;
                &:hover {
                    opacity: 0.85;
                }
                & img {
                    width: 100%;
                }
            }
        }
    }
}

/*--
    Section Title
------------------------------------------*/
.section-title {
    & h1 {}
    & .separator {}
    & p {
        &.h3 {
            line-height: 1.5;
        }
    }
}
.section-title-gym {
    & .inner {
        & h1 {
            line-height: 1;
            font-weight: 800;
            display: inline-block;
            position: relative;
            margin: 0;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 6px;
                width: 100%;
                height: 3px;
                background-color: $color-1;
            }
            @media #{$desktop-device} {
                &::before {
                    bottom: 3px;
                }
            }
            @media #{$tablet-device} {
                &::before {
                    bottom: 2px;
                }
            }
            @media #{$large-mobile} {
                &::before {
                    bottom: 2px;
                }
            }
        }
    }
}
/*Teplate Color Loop - Button Color Depend on Body class*/
@for $i from 1 through length($colorList) {
    body.template-color-#{$i} {
        & .section-title-gym {
            & .inner {
                & h1 {
                    margin: 0;
                    &::before {
                        background-color: nth($colorList, $i);
                    }
                }
            }
        }
    }
}

/*--
    Page Header
------------------------------------------*/

/*Page Header*/
.page-header {
    // Inner
    & .page-header-inner {
        position: relative;
        padding: 250px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        // Responsive
        @media #{$laptop-device}{
            padding: 220px 0 180px;
        }
        @media #{$desktop-device}{
            padding: 180px 0 120px;
        }
        @media #{$tablet-device}{
            padding: 100px 0;
        }
        @media #{$large-mobile}{
            padding: 50px 0;
        }
        @media #{$small-mobile}{
            padding: 40px 0;
        }
        & .page-header-title {
            & .title {
                color: $white;
            }
        }
        & .page-header-breadcrumbs {
            margin-top: 15px;
            & ul {
                & li {
                    color: $white;
                    & a {
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
        &.text-center {
            text-align: center;
            & .page-header-breadcrumbs {
                & ul {
                    justify-content: center;
                }
            }
        }
        &.text-left {
            text-align: left;
            & .page-header-breadcrumbs {
                & ul {
                    justify-content: flex-start;
                }
            }
        }
        &.text-right {
            text-align: right;
            & .page-header-breadcrumbs {
                & ul {
                    justify-content: flex-end;
                }
            }
        }
        &.space-between {
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            & .page-header-breadcrumbs {
                position: static;
                width: auto;
            }
        }
    }
}

/*Page Header 2*/
.page-header-2 {
    & .page-header-inner {
        padding: 350px 0;

        // Responsive
        @media #{$laptop-device}{
            padding: 220px 0 180px;
        }
        @media #{$desktop-device}{
            padding: 180px 0 120px;
        }
        @media #{$tablet-device}{
            padding: 100px 0;
        }
        @media #{$large-mobile}{
            padding: 50px 0;
        }
        @media #{$small-mobile}{
            padding: 40px 0;
        }
    }
}

/*Page Header 3*/
.page-header-3 {
    border-top: 1px solid $gray-2;
    border-bottom: 1px solid $gray-2;
    & .page-header-inner {
        padding: 40px 0;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        & .page-header-title {
            & .title {
                font-size: 20px;
                color: $heading-color;
            }
        }
        & .page-header-breadcrumbs {
            position: static;
            width: auto;
            margin: 0 !important;
            & ul {
                & li {
                    color: $body-color;
                    & a {
                        &:hover {
                            color: $heading-color;
                        }
                    }
                }
            }
        }
    }
}

// Title
.page-header-title {
    & h1, h2, h3, h4, h5, h6 {
        font-weight: $font-weight-700;
        margin: 0;
    }
    & h1.title {
        font-size: 45px;
        @media #{$large-mobile} {
            font-size: 28px;
        }
        @media #{$small-mobile} {
            font-size: 24px;
        }
        @media #{$extra-small-mobile} {
            font-size: 20px;
        }
    }
}

// Breadcrumbs
.page-header-breadcrumbs {
    @media #{$large-mobile} {
        display: none;
    }
    & ul {
        display: flex;
        & li {
            text-transform: uppercase;
            font-size: 12px;
            line-height: 21px;
            letter-spacing: 1px;
            font-weight: $font-weight-700;
            display: flex;
            flex-wrap: wrap;
            &::after {
                font-family: Fontawesome;
                content: "\f111";
                font-size: 5px;
                margin: 0 10px;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            & a {
                color: inherit;
                border-bottom: 1px solid transparent;
            }
            & span {
                color: inherit;
                border-bottom: 1px solid transparent;
            }
        }
    }
    // One
    &.position {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 20px;
        margin: 0;
        @media #{$large-mobile} {
            position: static;
            margin-top: 10px;
        }
    }
}

/*--
    Revolution Slider
------------------------------------------*/
#rev_slider_11_1_forcefullwidth {
    &.forcefullwidth_wrapper_tp_banner {
        overflow: hidden;
    }
}
.rev_slider_wrapper {
    & img {
        max-width: none;
    }
}
.rev_slider {
    & .tp-bullets {
        &.vertical {
            left: 98% !important;
        }
        &.zeus {
            &.nav-dir-vertical {
                & .tp-bullet-image, .tp-bullet-imageoverlay, .tp-bullet-title {
                    left: auto;
                    bottom: auto;
                    right: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

/*--Countdown--*/
.countdown {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    &.countdown-full-format {
        & .single {
            padding-right: 20px;
        }
    }
    &.countdown-2 {
        & .single {
            display: flex;
            align-items: flex-end;
            & * {
                margin: 0;
                line-height: 1;
            }
            & p {
                margin-bottom: 3px;
                margin-left: 5px;
            }
        }
    }
    & .single {
        flex: 1 0 auto;
        margin-bottom: 20px;
    }
}

/*-- Fullpage JS --*/
.fullpage-wrapper {
    & .row {
        height: 100%;
    }
}
#uptimo-fullpage {
    & .uptimo-fp-section {
        @media #{$tablet-device} {
            height: auto !important;
            & .fp-tableCell {
                height: auto !important;
            }
        }
        @media #{$large-mobile} {
            height: auto !important;
            & .fp-tableCell {
                height: auto !important;
            }
        }
    }
}

/*--Scroll To Top--*/
.scroll-to-top {
	display: block;
	position: fixed;
	right: 0;
	bottom: 50px;
	text-align: center;
	z-index: 9;
	visibility: hidden;
	opacity: 0;
	width: 50px;
	height: 50px;
	padding: 0;
	border: none;
    background-color: $heading-color;
    color: $white;
    transition: all 250ms ease-out;
    & i {
        display: block;
        font-size: 20px;
	    line-height: 50px;
    }
    &.show {
        visibility: visible;
        opacity: 1;
        right: 50px;
    }
    &:hover {
        background-color: $color-1;
        color: $white !important;
    }
    @media #{$small-mobile} {
        display: none;
    }
}

/*Teplate Color Loop - Color Depend on Body class*/
@for $i from 1 through length($colorList) {
    body.template-color-#{$i} {
        & .scroll-to-top {
            &:hover {
                background-color: nth($colorList, $i);
            }
        }
    }
}

/*Landing Page Demo Item*/
.demo-item {
    & .inner {
        background-image: url(../images/landing/bg-demo.jpg);
        padding-top: 30px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 60px 0px rgba(41, 44, 58, 0.1);
        text-align: center;
        & a {
            display: block;
            overflow: hidden;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: all 0.4s ease;
                opacity: 0;
                visibility: hidden;
                background-color: $heading-color;
                z-index: 2;
            }
            & img {
                width: 100%;
                transition: opacity 0.7s ease,transform 2s cubic-bezier(0, 0, 0.44, 1.18);
            }
            & span {
                background: $color-1;
                position: absolute;
                color: $white;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 20px;
                padding: 15px 50px;
                white-space: pre;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                border-radius: 30px;
                font-size: 14px;
                transition: all 0.4s ease 200ms;
                opacity: 0;
                visibility: hidden;
                margin-top: 20px;
                z-index: 3;
            }
        }
        & h6 {
            font-size: 14px;
            font-weight: 300;
            margin: 0;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -35px;
        }
        &:hover {
            & a {
                &::before {
                    opacity: 0.9;
                    visibility: visible;
                }
                & img {
                    transform: scale(1.15);
                }
                & span {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0;
                }
            }
        }
    }
}



.lh-1i {
    font-size: inherit !important;
    line-height: 1 !important;
}